@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 23, style.sass */
body, html {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* line 31, style.sass */
#header {
  height: 70px;
  width: 100%;
  background-color: #ccc;
}

/* line 36, style.sass */
#main-body {
  position: absolute;
  top: 70px;
  left: 0px;
  height: calc(100% - 70px);
  width: 100%;
  background-color: #ccc;
}

/* line 44, style.sass */
#site-logo {
  padding: 10px;
  letter-spacing: 4px;
  width: 300px;
  text-align: center;
  display: inline-block;
}

/* line 51, style.sass */
#logo-image {
  height: 60px;
  width: 100px;
  position: absolute;
  float: left;
  top: 5px;
  left: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 61, style.sass */
#logo-text {
  font-size: 40px;
  margin-left: 65px;
  position: absolute;
  top: 5px;
}

/* line 67, style.sass */
#main-menu {
  cursor: pointer;
  float: center;
  display: inline-block;
  width: auto;
  position: fixed;
}

/* line 74, style.sass */
#main-menu > div {
  float: right;
  text-align: center;
  display: inline-block;
  height: 20px;
  padding-top: calc((70px - 20px) / 2);
  padding-bottom: calc((70px - 20px) / 2);
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

/* line 85, style.sass */
#main-menu > div a {
  text-decoration: none;
  color: black;
}

/* line 89, style.sass */
#main-menu > div:hover {
  background-color: lightblue;
  color: white;
}

/* line 93, style.sass */
#control-body {
  height: calc(100% - 35px);
  width: 300px;
  float: left;
  padding: 7px;
  overflow-y: auto;
  overflow-x: none;
}

/* line 101, style.sass */
#cell-body {
  margin-top: 30px;
}

/* line 104, style.sass */
#diagram-canvas {
  draggable: false;
}

/* line 108, style.sass */
#diagram-body {
  overflow: hidden;
  white-space: nowrap;
  background-color: #ccc;
  user-select: none;
}

/* line 118, style.sass */
#project-menu {
  cursor: pointer;
  bottom: 0px;
  height: 20px;
  list-style: none;
  position: relative;
  float: right;
  margin-right: 10px;
  z-index: 1000000;
  top: calc($header_height - 40px);
}

/* line 129, style.sass */
#project-menu li {
  margin-top: 7px;
}

/* line 132, style.sass */
.button-style-3 {
  background-color: grey;
  color: white;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  height: 17px;
  letter-spacing: 1px;
  padding: 7px;
  cursor: pointer;
  font-size: 60%;
}

/* line 144, style.sass */
#main-menu li {
  float: left;
  list-style: none;
  width: 70px;
  cursor: pointer;
  padding: 10px;
}

/* line 153, style.sass */
div.cell-group {
  color: black;
  background-color: #aaa;
  border-radius: 2px;
  height: auto;
  padding: 7px;
  margin-bottom: 7px;
}

/* line 162, style.sass */
div.cell-opt {
  background-color: #888;
  color: #ffffff;
  border-radius: 2px;
  position: relative;
  padding: 7px;
  width: auto;
  overflow: hidden;
  height: auto;
  margin-top: 7px;
  padding-right: 0px;
}

/* line 178, style.sass */
div.preview-icon {
  height: 67px;
  width: 67px;
  float: left;
  margin-top: 7px;
  margin-right: 7px;
}

/* line 185, style.sass */
div.cell-icon > canvas {
  border-radius: 2px;
}

/* line 188, style.sass */
div.cell-icon > svg {
  border-radius: 2px;
}

/* line 191, style.sass */
.cell-b-sect {
  text-align: center;
  top: 70px;
}

/* line 195, style.sass */
.match-cell-icon {
  height: 67px;
  width: 67px;
  border: 2px dashed black;
  background-color: lightgrey;
  float: left;
}

/* line 203, style.sass */
div.cell-icon-group {
  float: left;
}

/* line 206, style.sass */
div.cell-detail {
  overflow: hidden;
  height: 67px;
  padding-left: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

/* line 213, style.sass */
div.cell-detail > label {
  position: absolute;
  height: 13px;
}

/* line 221, style.sass */
label.cell-invertible {
  top: 41px;
}

/* line 224, style.sass */
label.cell-single-thumbnail {
  top: 57px;
}

/* line 228, style.sass */
input[type=checkbox] {
  height: 13px;
  vertical-align: bottom;
  position: relative;
  bottom: -1px;
  padding-bottom: -5px;
}

/* line 241, style.sass */
.cell-label {
  width: calc(100% - 23px);
  border: none;
  outline-width: 0px;
  margin-left: 5px;
  height: 15px;
  border-radius: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
}

/* line 252, style.sass */
.color-picker {
  width: calc(100% - 23px);
  margin-top: 4px;
  margin-left: 5px;
  border: none;
  border-radius: 2px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 13px;
}

/* line 264, style.sass */
div.cell-icon > canvas {
  border-radius: 2px;
}

/* line 267, style.sass */
div.cell-icon {
  height: 67px;
  width: 67px;
  margin-top: 0px;
  border-radius: 2px;
  background-color: #ccc;
  float: left;
}

/* line 277, style.sass */
div.cell-icon:nth-child(2) {
  margin-left: 7px;
}

/* line 280, style.sass */
.stochastic-rate {
  width: 50px;
  outline-width: 0px;
  letter-spacing: 1px;
  display: none;
  border: none;
  margin-left: 5px;
  margin-top: 40px;
  border-radius: 2px;
  height: 15px;
}

/* line 292, style.sass */
.target-rule-arrow {
  position: absolute;
  margin-left: 65px;
  top: 30px;
}

/* line 297, style.sass */
.button-style-1 {
  background-color: #00b8ff;
  color: white;
  border-radius: 3px 3px 0px 0px;
  width: 110px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
  border-bottom: 2px solid #00b8ff;
}

/* line 311, style.sass */
.button-style-2 {
  padding: 5px;
  background-color: #00b8ff;
  color: white;
  border-radius: 3px;
  width: 130px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
}

/* line 325, style.sass */
#view-p-desc {
  background-color: grey;
  color: white;
  position: absolute;
  margin-left: 235px;
  border-radius: 2px;
  width: 100px;
  margin-top: -265px;
  text-align: center;
  height: 30px;
  letter-spacing: 1px;
  padding: 7px;
  cursor: pointer;
  font-size: 70%;
}

/* line 340, style.sass */
#view-desc-plate {
  margin-left: 50px;
  background-color: grey;
  height: 210px;
  width: 500px;
  padding: 10px;
}

/* line 347, style.sass */
#view-desc-body {
  width: 300px;
  float: right;
  top: calc(100%);
  left: calc(50% - 300px);
  position: absolute;
}

/* line 354, style.sass */
#text-p-desc {
  height: 200px;
  resize: none;
  width: 99%;
  margin-top: 5px;
  color: #44bbbb;
  border: none;
  border-radius: 3px;
  font-size: 90%;
  letter-spacing: 1px;
}

/* line 365, style.sass */
#site-controller-body {
  border: 3px solid grey;
  height: 200px;
}

/* line 369, style.sass */
.text-field-style-1 {
  border: none;
  outline-width: 0px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: 260px;
  padding: 4px;
}

/* line 377, style.sass */
.text-area-style-1 {
  border: none;
  outline-width: 0px;
  resize: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: calc( 100% - 20px );
}

/* line 387, style.sass */
.submit-field-style-1 {
  width: 70px;
  border: none;
  margin-top: 7px;
  background-color: #d9d9d9;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
}

/* line 395, style.sass */
.box {
  display: none;
  background-color: #00b8ff;
  border-radius: 1px;
  padding: 10px;
  color: #ffffff;
  width: 265px;
  top: 200px;
  z-index: 10000;
  height: auto;
  text-align: center;
  position: absolute;
  box-shadow: 0px 0px 5px dimgrey;
  left: calc( 50% - 125px );
}

/* line 411, style.sass */
.grand-box {
  width: 800px;
  height: 500px;
  left: calc( 50% - 400px );
  top: 100px;
  box-shadow: 0px 0px 20px dimgrey;
}

/* line 418, style.sass */
.zindex-error {
  z-index: 100000000;
}

/* line 421, style.sass */
#change-pass-form {
  padding: 3px;
  border-radius: 2px;
  margin: 0;
}

/* line 426, style.sass */
.cp-textfields {
  width: 80%;
}

/* line 429, style.sass */
#site-cont-header-loggedin {
  padding-bottom: 20px;
}

/* line 432, style.sass */
.msg-close-opt {
  font-size: 70%;
  color: salmon;
  cursor: pointer;
  float: right;
}

/* line 438, style.sass */
#add-project-opt {
  background-color: grey;
  cursor: pointer;
  height: 20px;
  padding: 5px;
  overflow: hidden;
  border-radius: 2px;
}

/* line 446, style.sass */
div .delete_button {
  position: absolute;
  right: 5px;
  top: 4px;
  color: red;
}

/* line 452, style.sass */
#source-target-clear {
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
}

/* line 458, style.sass */
#main_view_control {
  background-color: #aaa;
  padding: 5px;
}

/* line 462, style.sass */
#save-project-opt {
  background-color: #4cd2bb;
}

/* line 465, style.sass */
#save-project-opt:hover {
  background-color: lightblue;
}

/* line 468, style.sass */
#get-str-opt {
  background-color: #4cd2bb;
}

/* line 471, style.sass */
#get-str-opt:hover {
  background-color: lightblue;
}

/* line 474, style.sass */
#diagram-title {
  color: black;
  height: 30px;
  font-size: 25px;
  background-color: #9BDCC4;
  border: none;
  width: 298px;
  position: absolute;
  outline-width: 0px;
  left: 7px;
  margin-bottom: 7px;
}

/* line 487, style.sass */
.select-project {
  cursor: pointer;
}

/* line 490, style.sass */
#ajax-loading {
  background-image: url("../../images/loading-icon.gif");
  background-size: 60%;
  height: 55px;
  width: 55px;
  position: absolute;
  z-index: 10000;
  background-repeat: no-repeat;
}

/* line 499, style.sass */
#no-projects-open-e {
  font-size: 200%;
  text-align: center;
  margin-top: 30%;
}

/* line 504, style.sass */
.mini-opt-links {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 70%;
  padding: 5px;
  position: block;
  float: right;
  cursor: pointer;
}

/* line 513, style.sass */
#add-0-cell-opt {
  margin-left: -112px;
  position: absolute;
  padding: 5px;
}

/* line 518, style.sass */
.del-project {
  color: salmon;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}

/* line 524, style.sass */
.del-confirm-field {
  border: none;
  border-radius: 2px;
  width: 1px;
  font-size: 115%;
  padding: 3px;
  outline-width: 0px;
  border: 1px dashed grey;
  margin-top: -5px;
  background-color: #84c9b6;
  color: salmon;
}

/* line 536, style.sass */
.cancel-del {
  cursor: pointer;
  color: salmon;
  margin-top: -25px;
  margin-left: 110px;
  position: absolute;
}

/* line 543, style.sass */
.cc-opt {
  cursor: pointer;
  position: absolute;
  top: 30px;
  color: salmon;
  left: 80px;
}

/* line 550, style.sass */
#no-cell-m-f {
  color: dimgrey;
  width: 200px;
  margin-left: 40px;
  padding-top: 20px;
}

/* line 556, style.sass */
#slider {
  top: 70px;
  right: 10px;
  width: 100px;
  position: absolute;
}

/* line 563, style.sass */
#process-form {
  text-align: left;
  padding: 10px;
}

/* line 567, style.sass */
div.control.inline {
  position: absolute;
  right: 150px;
  top: 10px;
}

/* line 572, style.sass */
input.control {
  max-width: 15px;
}

/* line 579, style.sass */
#gallery-box {
  overflow: auto;
  background: #b0e0e6;
}

/* line 583, style.sass */
.gallery-pcomp {
  width: 97%;
  cursor: pointer;
  font-size: 85%;
  background-color: #84c9b6;
  margin-top: 10px;
  color: white;
  padding: 10px;
}

/* line 592, style.sass */
#gg-title {
  background-color: #b0e0e6;
  color: #e88d8f;
  padding: 5px;
  font-size: 110%;
  margin-top: -10px;
  position: fixed;
}

/* line 600, style.sass */
.pp-opts {
  width: 400px;
  height: 20px;
  padding-bottom: 5px;
}

/* line 605, style.sass */
.publish-project {
  cursor: pointer;
  float: left;
  color: dimgrey;
  margin-left: 10px;
  text-decoration: underline;
}

/* line 612, style.sass */
.share-project-opt {
  cursor: pointer;
  float: left;
  margin-left: 10px;
  color: dimgrey;
  text-decoration: underline;
}

/* line 619, style.sass */
.delete-container {
  float: left;
  margin-left: 10px;
}

/* line 623, style.sass */
.button-style-3:hover {
  background-color: lightblue;
}

/* line 626, style.sass */
.pl-selects {
  border: none;
  outline-width: 0px;
  font-size: 100%;
  letter-spacing: 2px;
  width: 100px;
}

/* line 633, style.sass */
#pl-title {
  color: grey;
  font-size: 120%;
  margin-top: -5px;
  position: fixed;
  padding: 8px;
  background-color: #b0e0e6;
  z-index: 100;
}

/* line 642, style.sass */
#change-list-type {
  width: 140px;
}

/* line 645, style.sass */
#plist {
  padding-top: 10px;
}

/* line 648, style.sass */
#pl-addnew {
  width: 200px;
  margin-left: 550px;
  position: absolute;
}

/* line 654, style.sass */
.AV-select {
  color: #fd7f70;
  position: absolute;
  margin-top: 2px;
  margin-left: 15px;
  font-weight: bold;
}

/* line 661, style.sass */
#forgot-pass-opt {
  font-size: 70%;
  color: lightblue;
  cursor: pointer;
}

/* line 666, style.sass */
#diagram-popup {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 676, style.sass */
#source-target-window {
  position: absolute;
  right: 20;
  bottom: 20;
  background-color: #aaa;
  padding: 5px;
  text-align: center;
  width: 150px;
}

/* line 688, style.sass */
#source-target-diagram {
  height: 100px;
  width: 100px;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #ccc;
  border-radius: 2px;
}

/* line 698, style.sass */
#source-target-diagram > svg {
  display: block;
  margin: 0 auto;
  border-radius: 2px;
}
