@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 22, ../sass/style.sass */
body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* line 29, ../sass/style.sass */
#header {
  height: 70px;
  width: 100%;
  background-color: #ccc;
}

/* line 34, ../sass/style.sass */
#main-body {
  position: absolute;
  top: 70px;
  left: 0px;
  height: calc(100% - 70px);
  width: 100%;
  background-color: #ccc;
}

/* line 42, ../sass/style.sass */
#site-logo {
  padding: 10px;
  letter-spacing: 4px;
  width: 300px;
  text-align: center;
  display: inline-block;
}

/* line 49, ../sass/style.sass */
#logo-image {
  height: 60px;
  width: 100px;
  position: absolute;
  float: left;
  top: 5px;
  left: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 59, ../sass/style.sass */
#logo-text {
  font-size: 40px;
  margin-left: 65px;
  position: absolute;
  top: 5px;
}

/* line 65, ../sass/style.sass */
#main-menu {
  cursor: pointer;
  float: right;
  display: inline-block;
  width: auto;
}

/* line 71, ../sass/style.sass */
#main-menu > div {
  float: right;
  text-align: center;
  display: inline-block;
  height: 20px;
  padding-top: calc((70px - 20px) / 2);
  padding-bottom: calc((70px - 20px) / 2);
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

/* line 82, ../sass/style.sass */
#main-menu > div a {
  text-decoration: none;
  color: black;
}

/* line 86, ../sass/style.sass */
#main-menu > div:hover {
  background-color: lightblue;
}

/* line 89, ../sass/style.sass */
#control-body {
  height: calc(100% - 35px);
  width: 270px;
  float: left;
  padding: 7px;
  overflow-y: auto;
  overflow-x: none;
}

/* line 97, ../sass/style.sass */
#cell-body {
  margin-top: 30px;
}

/* line 100, ../sass/style.sass */
#diagram-body {
  overflow: hidden;
  white-space: nowrap;
  background-color: #ccc;
}

/* line 105, ../sass/style.sass */
#diagram-body > svg {
  width: 100%;
  height: 100%;
}

/* line 109, ../sass/style.sass */
#project-menu {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  padding-left: 0px;
  height: 20px;
  list-style: none;
  background-color: #ccc;
  height: 30px;
  width: 100%;
  z-index: 1000000;
  white-space: nowrap;
}

/* line 122, ../sass/style.sass */
#main-menu li {
  float: left;
  list-style: none;
  width: 70px;
  cursor: pointer;
  padding: 10px;
}

/* line 131, ../sass/style.sass */
div.cell-group {
  color: black;
  background-color: #aaa;
  border-radius: 2px;
  height: auto;
  padding: 7px;
  margin-bottom: 7px;
}

/* line 140, ../sass/style.sass */
div.cell-opt {
  background-color: #888;
  color: #ffffff;
  border-radius: 2px;
  position: relative;
  padding: 7px;
  width: auto;
  overflow: hidden;
  height: auto;
  margin-top: 7px;
  padding-right: 0px;
}

/* line 155, ../sass/style.sass */
div.cell-icon > canvas {
  border-radius: 2px;
}

/* line 158, ../sass/style.sass */
div.cell-icon {
  height: 60px;
  width: 60px;
  margin-top: 0px;
  border-radius: 2px;
  background-color: #ccc;
  float: left;
}

/* line 168, ../sass/style.sass */
div.preview-icon {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 7px;
  margin-right: 7px;
}

/* line 175, ../sass/style.sass */
div.preview-icon > canvas {
  border-radius: 2px;
}

/* line 178, ../sass/style.sass */
div.preview-icon > svg {
  border-radius: 2px;
}

/* line 181, ../sass/style.sass */
.cell-b-sect {
  text-align: center;
  top: 70px;
  clear: left;
}

/* line 191, ../sass/style.sass */
.cell-detail {
  height: 60px;
  float: right;
}

/* line 198, ../sass/style.sass */
.match-cell-icon {
  height: 60px;
  width: 60px;
  border: 2px dashed black;
  background-color: lightgrey;
  float: left;
}

/* line 206, ../sass/style.sass */
.cell-icon1 {
  height: 60px;
  border: 2px dashed black;
  width: 60px;
  margin-left: 100px;
  position: absolute;
  background-color: lightgrey;
}

/* line 215, ../sass/style.sass */
.cell-label {
  width: auto;
  width: 50px;
  border: none;
  outline-width: 0px;
  letter-spacing: 1px;
  position: absolute;
  left: 163px;
}

/* line 230, ../sass/style.sass */
.stochastic-rate {
  width: 50px;
  outline-width: 0px;
  letter-spacing: 1px;
  position: absolute;
  display: none;
  border: none;
}

/* line 244, ../sass/style.sass */
.color-picker {
  width: 50px;
  letter-spacing: 1px;
  margin-top: 21px;
}

/* line 256, ../sass/style.sass */
.target-rule-arrow {
  position: absolute;
  margin-left: 65px;
  top: 30px;
}

/* line 261, ../sass/style.sass */
.button-style-1 {
  background-color: #00b8ff;
  color: white;
  border-radius: 3px 3px 0px 0px;
  width: 110px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
  border-bottom: 2px solid #00b8ff;
}

/* line 275, ../sass/style.sass */
.button-style-2 {
  padding: 5px;
  background-color: #00b8ff;
  color: white;
  border-radius: 3px;
  width: 130px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
}

/* line 288, ../sass/style.sass */
.button-style-3 {
  background-color: #00b8ff;
  color: white;
  border-radius: 1px;
  width: 100px;
  text-align: center;
  height: 17px;
  letter-spacing: 1px;
  padding: 7px;
  float: left;
  cursor: pointer;
  font-size: 60%;
}

/* line 302, ../sass/style.sass */
#view-p-desc {
  background-color: #00b8ff;
  color: white;
  left: -10px;
  border-radius: 1px;
  width: 100px;
  transform: rotate(270deg);
  margin-top: -130px;
  transform-origin: left top 0;
  text-align: center;
  height: 30px;
  letter-spacing: 1px;
  padding: 7px;
  cursor: pointer;
  font-size: 70%;
}

/* line 318, ../sass/style.sass */
#view-desc-plate {
  margin-left: 50px;
  background-color: #00b8ff;
  height: 300px;
  width: 300px;
  padding: 10px;
}

/* line 325, ../sass/style.sass */
#view-desc-body {
  width: 300px;
  float: right;
}

/* line 329, ../sass/style.sass */
#text-p-desc {
  height: 200px;
  resize: none;
  width: 80%;
  margin-top: 5px;
  margin-left: 10px;
  color: #44bbbb;
  border: none;
  border-radius: 3px;
  font-size: 90%;
  letter-spacing: 1px;
}

/* line 341, ../sass/style.sass */
#view-desc-container {
  position: absolute;
  overflow: hidden;
  width: 600px;
  top: calc(50% - 200px);
  right: calc(0% - 250px);
}

/* line 348, ../sass/style.sass */
#site-controller-body {
  border: 3px solid grey;
  height: 200px;
}

/* line 352, ../sass/style.sass */
.text-field-style-1 {
  border: none;
  outline-width: 0px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: 260px;
  padding: 4px;
}

/* line 360, ../sass/style.sass */
.text-area-style-1 {
  border: none;
  outline-width: 0px;
  resize: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: calc( 100% - 20px );
}

/* line 370, ../sass/style.sass */
.submit-field-style-1 {
  width: 70px;
  border: none;
  margin-top: 7px;
  background-color: #d9d9d9;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
}

/* line 378, ../sass/style.sass */
.box {
  display: none;
  background-color: #00b8ff;
  border-radius: 1px;
  padding: 10px;
  color: #ffffff;
  width: 265px;
  top: 200px;
  z-index: 10000;
  height: auto;
  text-align: center;
  position: absolute;
  box-shadow: 0px 0px 5px dimgrey;
  left: calc( 50% - 125px );
}

/* line 394, ../sass/style.sass */
.grand-box {
  width: 800px;
  height: 500px;
  left: calc( 50% - 400px );
  top: 100px;
  box-shadow: 0px 0px 20px dimgrey;
}

/* line 401, ../sass/style.sass */
.zindex-error {
  z-index: 100000000;
}

/* line 404, ../sass/style.sass */
#change-pass-form {
  padding: 3px;
  border-radius: 2px;
  margin: 0;
}

/* line 409, ../sass/style.sass */
.cp-textfields {
  width: 80%;
}

/* line 412, ../sass/style.sass */
#site-cont-header-loggedin {
  padding-bottom: 20px;
}

/* line 415, ../sass/style.sass */
.msg-close-opt {
  font-size: 70%;
  color: salmon;
  cursor: pointer;
  float: right;
}

/* line 421, ../sass/style.sass */
#add-project-opt {
  background-color: #4cd2bb;
  cursor: pointer;
  height: 20px;
  padding: 10px;
  overflow: hidden;
}

/* line 428, ../sass/style.sass */
#add-project-opt1 {
  background-color: #4cd2bb;
  cursor: pointer;
  height: 20px;
  padding: 10px;
  overflow: hidden;
}

/* line 437, ../sass/style.sass */
#project-menu {
  bottom: calc(0% - 15px);
}

/* line 440, ../sass/style.sass */
#project-menu li {
  margin-left: 3px;
}

/* line 443, ../sass/style.sass */
#save-project-opt {
  background-color: #4cd2bb;
}

/* line 446, ../sass/style.sass */
#diagram-title {
  font-size: 115%;
  color: black;
  height: 30px;
  background-color: #9BDCC4;
  border: none;
  width: 268px;
  position: absolute;
  outline-width: 0px;
  left: 7px;
  margin-bottom: 7px;
}

/* line 459, ../sass/style.sass */
.select-project {
  cursor: pointer;
}

/* line 462, ../sass/style.sass */
#ajax-loading {
  background-image: url("../../images/loading-icon.gif");
  background-size: 60%;
  height: 55px;
  width: 55px;
  left: 97%;
  position: absolute;
  bottom: calc(0% - 15px);
  z-index: 10000;
  background-repeat: no-repeat;
}

/* line 473, ../sass/style.sass */
#no-projects-open-e {
  font-size: 200%;
  text-align: center;
  margin-top: 30%;
}

/* line 478, ../sass/style.sass */
.mini-opt-links {
  color: #ffffff;
  text-decoration: underline;
  padding: 5px;
  float: right;
  cursor: pointer;
}

/* line 486, ../sass/style.sass */
.del-project {
  float: right;
  color: #335566;
  cursor: pointer;
}

/* line 491, ../sass/style.sass */
.del-confirm-field {
  border: none;
  border-radius: 2px;
  width: 1px;
  font-size: 115%;
  padding: 3px;
  color: salmon;
}

/* line 499, ../sass/style.sass */
.cancel-del {
  cursor: pointer;
  color: salmon;
  margin-top: -5px;
  margin-left: 10px;
  position: absolute;
}

/* line 506, ../sass/style.sass */
.cc-opt {
  cursor: pointer;
  position: absolute;
  top: 30px;
  color: salmon;
  left: 80px;
}

/* line 513, ../sass/style.sass */
#no-cell-m-f {
  color: dimgrey;
  width: 200px;
  margin-left: 40px;
  padding-top: 20px;
}

/* line 519, ../sass/style.sass */
#slider {
  top: 80px;
  right: 10px;
  width: 100px;
  position: absolute;
}

/* line 525, ../sass/style.sass */
#sto-form {
  background-color: #008b8b;
  margin-left: 5px;
}

/* line 529, ../sass/style.sass */
#run-process {
  background-color: #008b8b;
}

/* line 532, ../sass/style.sass */
#process-form {
  text-align: left;
  padding: 10px;
}
