@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 12, ../sass/style.sass */
body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* line 19, ../sass/style.sass */
#control-body {
  height: 100%;
  width: 300px;
  background-color: grey;
  float: left;
  display: block;
}

/* line 27, ../sass/style.sass */
#diagram-body {
  height: 100%;
  width: calc(100% - 300px);
  background-color: lightgrey;
  float: left;
  display: block;
  white-space: nowrap;
}

/* line 35, ../sass/style.sass */
#site-logo {
  padding: 10px;
  font-size: 40px;
  letter-spacing: 4px;
  width: 300px;
  text-align: center;
  display: inline-block;
}

/* line 43, ../sass/style.sass */
#main-menu {
  float: right;
  display: inline-block;
  width: 550px;
  text-align: center;
  margin: 0px;
  top: 0;
  padding-right: 10px;
}

/* line 52, ../sass/style.sass */
#main-menu li {
  float: left;
  list-style: none;
  width: 70px;
  cursor: pointer;
  padding: 10px;
  margin-top: 12px;
  margin-left: 20px;
}

/* line 61, ../sass/style.sass */
#main-menu li a {
  text-decoration: none;
  color: black;
}

/* line 65, ../sass/style.sass */
#main-menu li:hover {
  background-color: lightblue;
}

/* line 68, ../sass/style.sass */
.button-style-1 {
  padding: 5px;
  background-color: #00b8ff;
  color: white;
  border-radius: 3px 3px 0px 0px;
  width: 110px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
  border-bottom: 2px solid #00b8ff;
}

/* line 82, ../sass/style.sass */
.button-style-2 {
  padding: 5px;
  background-color: #00b8ff;
  color: white;
  border-radius: 3px;
  width: 130px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
}

/* line 95, ../sass/style.sass */
.button-style-3 {
  background-color: #00b8ff;
  color: white;
  border-radius: 1px;
  width: 100px;
  text-align: center;
  height: 17px;
  letter-spacing: 1px;
  padding: 7px;
  float: left;
  cursor: pointer;
  font-size: 60%;
}

/* line 109, ../sass/style.sass */
#site-controller-body {
  border: 3px solid grey;
  height: 200px;
}

/* line 113, ../sass/style.sass */
.text-field-style-1 {
  border: none;
  outline-width: 0px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: 260px;
  padding: 4px;
}

/* line 121, ../sass/style.sass */
.text-area-style-1 {
  border: none;
  outline-width: 0px;
  resize: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: calc( 100% - 20px );
  padding: 4px;
  height: 70px;
}

/* line 131, ../sass/style.sass */
.submit-field-style-1 {
  width: 70px;
  border: none;
  margin-top: 7px;
  background-color: #d9d9d9;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
}

/* line 139, ../sass/style.sass */
.box {
  display: none;
  background-color: #00b8ff;
  border-radius: 1px;
  padding: 10px;
  color: #ffffff;
  width: 265px;
  top: 200px;
  z-index: 10000;
  height: auto;
  text-align: center;
  position: absolute;
  box-shadow: 0px 0px 5px dimgrey;
  left: calc( 50% - 125px );
}

/* line 156, ../sass/style.sass */
.zindex-error {
  z-index: 100000000;
}

/* line 159, ../sass/style.sass */
#change-pass-form {
  padding: 3px;
  border-radius: 2px;
  margin: 0;
}

/* line 164, ../sass/style.sass */
.cp-textfields {
  width: 80%;
}

/* line 167, ../sass/style.sass */
#site-cont-header-loggedin {
  padding-bottom: 20px;
}

/* line 170, ../sass/style.sass */
.msg-close-opt {
  font-size: 70%;
  color: salmon;
  cursor: pointer;
  float: right;
}

/* line 176, ../sass/style.sass */
#add-project-opt {
  background-color: #4cd2bb;
  cursor: pointer;
  height: 20px;
  padding: 10px;
  overflow: hidden;
}

/* line 183, ../sass/style.sass */
#add-project-opt1 {
  background-color: #4cd2bb;
  cursor: pointer;
  height: 20px;
  padding: 10px;
  overflow: hidden;
}

/* line 190, ../sass/style.sass */
#cell-body {
  background-color: dimgrey;
  width: 300px;
  height: calc( 100% - 70px );
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 198, ../sass/style.sass */
.cell-group {
  color: black;
  height: auto;
  margin-bottom: 5px;
  width: 298px;
}

/* line 206, ../sass/style.sass */
.cell-opt {
  background-color: #273c61;
  margin-top: 3px;
  color: #ffffff;
  border-radius: 3px;
  margin-left: 5px;
  position: relative;
  padding: 5px;
  width: 280px;
  overflow: hidden;
}

/* line 218, ../sass/style.sass */
.cell-icon {
  height: 65px;
  margin-top: 3px;
  border-radius: 5px;
  width: 65px;
  background-color: lightgrey;
  float: left;
}

/* line 226, ../sass/style.sass */
.cell-b-sect {
  margin-top: 5px;
  text-align: center;
  top: 70px;
}

/* line 234, ../sass/style.sass */
.cell-detail {
  margin-left: 75px;
  height: 65px;
}

/* line 238, ../sass/style.sass */
.match-cell-icon {
  height: 65px;
  border: 2px dashed black;
  width: 65px;
  background-color: lightgrey;
  float: left;
  margin: 5px;
}

/* line 246, ../sass/style.sass */
.cell-icon1 {
  height: 65px;
  border: 2px dashed black;
  width: 65px;
  margin-left: 100px;
  top: 5px;
  position: absolute;
  background-color: lightgrey;
}

/* line 255, ../sass/style.sass */
.cell-label {
  width: 60px;
  border: none;
  outline-width: 0px;
  letter-spacing: 2px;
  position: absolute;
  margin-top: 5px;
  height: 20px;
  border-radius: 1px;
  margin-left: 20px;
}

/* line 267, ../sass/style.sass */
.stochastic-rate {
  width: 33px;
  border: none;
  outline-width: 0px;
  letter-spacing: 2px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  display: none;
  border-radius: 1px;
  height: 20px;
}

/* line 279, ../sass/style.sass */
.color-picker {
  margin-top: 35px;
  border-radius: 1px;
  letter-spacing: 2px;
  border: none;
  width: 60px;
  margin-left: 20px;
  height: 20px;
}

/* line 288, ../sass/style.sass */
.target-rule-arrow {
  position: absolute;
  margin-left: 72px;
  top: 30px;
}

/* line 295, ../sass/style.sass */
#project-menu {
  cursor: pointer;
  position: absolute;
  bottom: -15px;
  padding-left: 0px;
  height: 20px;
  list-style: none;
  background-color: lightgrey;
  height: 30px;
  width: 100%;
  z-index: 1000000;
  white-space: nowrap;
}

/* line 308, ../sass/style.sass */
#project-menu li {
  margin-left: 3px;
}

/* line 311, ../sass/style.sass */
#save-project-opt {
  background-color: #4cd2bb;
}

/* line 314, ../sass/style.sass */
#diagram-title {
  font-size: 115%;
  color: black;
  height: 30px;
  background-color: #9BDCC4;
  border: none;
  position: absolute;
  margin-top: -32px;
  outline-width: 0px;
  margin-left: 0px;
}

/* line 327, ../sass/style.sass */
#diagram-canvas {
  background-color: #ededed;
  bottom: 0px;
  right: 0px;
  width: calc( 100% - 320px );
  height: calc( 100% - 30px );
}

/* line 334, ../sass/style.sass */
.select-project {
  cursor: pointer;
}

/* line 337, ../sass/style.sass */
#ajax-loading {
  background-image: url("../../images/loading-icon.gif");
  background-size: 60%;
  height: 55px;
  width: 55px;
  margin-left: 250px;
  position: absolute;
  margin-top: -45px;
  z-index: 10000;
  background-repeat: no-repeat;
}

/* line 348, ../sass/style.sass */
#no-projects-open-e {
  font-size: 200%;
  text-align: center;
  margin-top: 30%;
}

/* line 353, ../sass/style.sass */
.mini-opt-links {
  color: #ffffff;
  font-size: 70%;
  text-decoration: underline;
  padding: 5px;
  float: right;
  cursor: pointer;
}

/* line 361, ../sass/style.sass */
.del-project {
  float: right;
  color: #335566;
  cursor: pointer;
}

/* line 366, ../sass/style.sass */
.del-confirm-field {
  border: none;
  border-radius: 2px;
  width: 1px;
  font-size: 115%;
  padding: 3px;
  color: salmon;
}

/* line 374, ../sass/style.sass */
.cancel-del {
  cursor: pointer;
  color: salmon;
  margin-top: -5px;
  margin-left: 10px;
  position: absolute;
}

/* line 381, ../sass/style.sass */
.cc-opt {
  cursor: pointer;
  position: absolute;
  top: 30px;
  color: salmon;
  left: 80px;
}

/* line 388, ../sass/style.sass */
#no-cell-m-f {
  color: dimgrey;
  width: 200px;
  margin-left: 40px;
  padding-top: 20px;
}

/* line 394, ../sass/style.sass */
#slider {
  top: 80px;
  right: 10px;
  width: 100px;
  position: absolute;
}

/* line 400, ../sass/style.sass */
#sto-form {
  background-color: #008b8b;
  margin-left: 5px;
}

/* line 404, ../sass/style.sass */
#run-process {
  background-color: #008b8b;
}

/* line 407, ../sass/style.sass */
#process-form {
  text-align: left;
  padding: 10px;
}
