@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 12, ../sass/style.sass */
body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* line 19, ../sass/style.sass */
#control-body {
  height: 100%;
  width: 300px;
  background-color: grey;
  float: left;
  display: block;
}

/* line 27, ../sass/style.sass */
#diagram-body {
  height: 100%;
  width: calc(100% - 300px);
  background-color: lightgrey;
  float: left;
  display: block;
  white-space: nowrap;
}

/* line 35, ../sass/style.sass */
#site-logo {
  padding: 10px;
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
}

/* line 41, ../sass/style.sass */
.button-style-1 {
  padding: 5px;
  background-color: #00b8ff;
  color: white;
  border-radius: 3px 3px 0px 0px;
  width: 110px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
  border-bottom: 2px solid #00b8ff;
}

/* line 55, ../sass/style.sass */
.button-style-2 {
  padding: 5px;
  background-color: #00b8ff;
  color: white;
  border-radius: 3px;
  width: 130px;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 110%;
}

/* line 68, ../sass/style.sass */
.button-style-3 {
  background-color: #00b8ff;
  color: white;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  height: 17px;
  letter-spacing: 1px;
  float: left;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 60%;
}

/* line 82, ../sass/style.sass */
#site-controller-body {
  border: 3px solid grey;
  height: 200px;
}

/* line 86, ../sass/style.sass */
.site-options-form-body {
  background-color: #00b8ff;
  display: none;
  padding: 10px;
  height: 100px;
  margin: 1px;
  width: 270px;
  margin-top: 37px;
}

/* line 95, ../sass/style.sass */
.text-field-style-1 {
  border: none;
  outline-width: 0px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: 260px;
  padding: 4px;
}

/* line 103, ../sass/style.sass */
.text-area-style-1 {
  border: none;
  outline-width: 0px;
  resize: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  width: calc( 100% - 20px );
  padding: 4px;
  height: 70px;
}

/* line 113, ../sass/style.sass */
.submit-field-style-1 {
  width: 70px;
  border: none;
  margin-top: 7px;
  background-color: #d9d9d9;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
}

/* line 121, ../sass/style.sass */
.box {
  display: none;
  background-color: #00b8ff;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  width: 265px;
  top: 200px;
  z-index: 10000;
  height: auto;
  text-align: center;
  position: absolute;
  box-shadow: 0px 0px 40px dimgrey;
  border: 1px dashed grey;
  left: calc( 50% - 125px );
}

/* line 137, ../sass/style.sass */
input.color-picker {
  width: 100px;
}

/* line 140, ../sass/style.sass */
.zindex-error {
  z-index: 100000000;
}

/* line 143, ../sass/style.sass */
#change-pass-form {
  padding: 3px;
  border-radius: 2px;
  margin: 0;
}

/* line 148, ../sass/style.sass */
.cp-textfields {
  width: 80%;
}

/* line 151, ../sass/style.sass */
#site-cont-header-loggedin {
  padding-bottom: 20px;
}

/* line 154, ../sass/style.sass */
.msg-close-opt {
  font-size: 70%;
  color: salmon;
  cursor: pointer;
  float: right;
}

/* line 160, ../sass/style.sass */
#add-project-opt {
  background-color: #4cd2bb;
  cursor: pointer;
  height: 20px;
  padding: 10px;
  overflow: hidden;
}

/* line 167, ../sass/style.sass */
#add-project-opt1 {
  background-color: #4cd2bb;
  cursor: pointer;
  height: 20px;
  padding: 10px;
  overflow: hidden;
}

/* line 174, ../sass/style.sass */
#cell-body {
  background-color: dimgrey;
  width: 300px;
  height: calc( 100% - 300px );
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 182, ../sass/style.sass */
.cell-group {
  color: black;
  height: auto;
  margin-bottom: 5px;
  width: 298px;
}

/* line 190, ../sass/style.sass */
.cell-opt {
  background-color: #273c61;
  margin-top: 3px;
  color: #ffffff;
  border-radius: 3px;
  margin-left: 5px;
  position: relative;
  padding: 5px;
  width: 280px;
  overflow: hidden;
}

/* line 202, ../sass/style.sass */
.cell-icon {
  height: 65px;
  border: 2px dashed black;
  width: 65px;
  background-color: lightgrey;
  float: left;
}

/* line 209, ../sass/style.sass */
.cell-b-sect {
  margin-top: 5px;
  text-align: center;
  top: 70px;
}

/* line 218, ../sass/style.sass */
.cell-detail {
  margin-left: 75px;
  height: 65px;
}

/* line 222, ../sass/style.sass */
.match-cell-icon {
  height: 65px;
  border: 2px dashed black;
  width: 65px;
  background-color: lightgrey;
  float: left;
  margin: 5px;
}

/* line 230, ../sass/style.sass */
.cell-icon1 {
  height: 65px;
  border: 2px dashed black;
  width: 65px;
  margin-left: 100px;
  top: 5px;
  position: absolute;
  background-color: lightgrey;
}

/* line 239, ../sass/style.sass */
.cell-label {
  width: 100px;
  border: none;
  outline-width: 0px;
  letter-spacing: 2px;
  position: absolute;
  margin-top: 5px;
  height: 20px;
  border-radius: 1px;
  margin-left: 20px;
}

/* line 252, ../sass/style.sass */
.color-picker {
  margin-top: 35px;
  border-radius: 1px;
  letter-spacing: 2px;
  border: none;
  margin-left: 20px;
  height: 20px;
}

/* line 260, ../sass/style.sass */
.target-rule-arrow {
  position: absolute;
  margin-left: 72px;
  top: 30px;
}

/* line 267, ../sass/style.sass */
#project-menu {
  cursor: pointer;
  position: relative;
  top: 0;
  margin-left: 35px;
  margin: 0;
  height: 20px;
  list-style: none;
  float: right;
  white-space: nowrap;
}

/* line 278, ../sass/style.sass */
#save-project-opt {
  background-color: #4cd2bb;
}

/* line 281, ../sass/style.sass */
#diagram-title {
  font-size: 95%;
  padding-left: 10px;
  color: black;
  margin-left: 10px;
  height: 18px;
  background-color: lightgrey;
  border: none;
  position: absolute;
  outline-width: 0px;
}

/* line 293, ../sass/style.sass */
#diagram-canvas {
  background-color: #ededed;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: calc( 100% - 320px );
  height: calc( 100% - 20px );
}

/* line 302, ../sass/style.sass */
.select-project {
  cursor: pointer;
}

/* line 305, ../sass/style.sass */
#ajax-loading {
  background-image: url("../../images/loading-icon.gif");
  background-size: 60%;
  height: 55px;
  width: 55px;
  margin-left: 250px;
  position: absolute;
  margin-top: -45px;
  z-index: 10000;
  background-repeat: no-repeat;
}

/* line 316, ../sass/style.sass */
#no-projects-open-e {
  font-size: 200%;
  text-align: center;
  margin-top: 30%;
}

/* line 321, ../sass/style.sass */
.mini-opt-links {
  color: #ffffff;
  font-size: 70%;
  text-decoration: underline;
  padding: 5px;
  float: right;
  cursor: pointer;
}

/* line 329, ../sass/style.sass */
.del-project {
  float: right;
  color: #335566;
  cursor: pointer;
}

/* line 334, ../sass/style.sass */
.del-confirm-field {
  border: none;
  border-radius: 2px;
  width: 1px;
  font-size: 115%;
  padding: 3px;
  color: salmon;
}

/* line 342, ../sass/style.sass */
.cancel-del {
  cursor: pointer;
  color: salmon;
  margin-top: -5px;
  margin-left: 10px;
  position: absolute;
}

/* line 349, ../sass/style.sass */
.cc-opt {
  cursor: pointer;
  position: absolute;
  top: 30px;
  color: salmon;
  left: 80px;
}

/* line 356, ../sass/style.sass */
#no-cell-m-f {
  color: dimgrey;
  width: 200px;
  margin-left: 40px;
  padding-top: 20px;
}

/* line 362, ../sass/style.sass */
#slider {
  bottom: 5px;
  right: 5px;
  width: 100px;
  position: absolute;
}
